{
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.10"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "ignore": [
    "**/*.test.ts"
  ]
}
