{
  "log": {
    "_recordingName": "iteratePreventionPoliciesFilter",
    "creator": {
      "comment": "persister:RedactFSPersister",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "020fbefc54d650d78dd27a430e1391a2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=UTF-8",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.crowdstrike.com/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1214,
            "text": "{\"access_token\":\"[REDACTED]\",\"token_type\":\"bearer\",\"expires_in\":1799}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 523,
      },
      {
        "_id": "e759407cded5053024b7cca3179a5e37",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "platform_name:'Windows'"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://api.crowdstrike.com/policy/combined/prevention/v1?filter=platform_name%3A%27Windows%27&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 5951,
            "text": "{\n \"meta\": {\n  \"query_time\": 1.85e-7,\n  \"pagination\": {\n   \"offset\": 1,\n   \"limit\": 1,\n   \"total\": 2\n  },\n  \"trace_id\": \"d7df51ef-2907-47b7-9dd1-851a214f54f9\"\n },\n \"errors\": [],\n \"resources\": [\n  {\n   \"id\": \"2c6342c316334a4bb765b7a23aa4a9a1\",\n   \"name\": \"Detect Only\",\n   \"description\": \"\",\n   \"platform_name\": \"Windows\",\n   \"groups\": [],\n   \"enabled\": true,\n   \"created_by\": \"CS Salesforce\",\n   \"created_timestamp\": \"2019-12-02T15:39:34.443161947Z\",\n   \"modified_by\": \"CS Salesforce\",\n   \"modified_timestamp\": \"2019-12-02T15:39:34.443161947Z\",\n   \"prevention_settings\": [\n    {\n     \"name\": \"User-Mode Capabilities\",\n     \"settings\": [\n      {\n       \"id\": \"EndUserNotifications\",\n       \"name\": \"Notify End Users\",\n       \"type\": \"toggle\",\n       \"description\": \"Show a pop-up notification to the end user when the Falcon sensor blocks, kills, or quarantines. These messages also show up in the Windows Event Viewer under Applications and Service Logs.\",\n       \"value\": {\n        \"enabled\": false\n       }\n      },\n      {\n       \"id\": \"UnknownDetectionRelatedExecutables\",\n       \"name\": \"Unknown Detection-Related Executables\",\n       \"type\": \"toggle\",\n       \"description\": \"Upload all unkn[...]
