{
  "log": {
    "_recordingName": "build-vulnerability-finding-cve-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b4391da807354cda8b8ffaab25e22621",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=UTF-8",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.us-2.crowdstrike.com/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1251,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":1799,\"token_type\":\"bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-cs-region",
              "value": "us-2"
            },
            {
              "name": "x-cs-traceid",
              "value": "e036199b-9459-4ecc-95e4-846b704329ea"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1211,
      },
      {
        "_id": "aa33ceaf98a63b8bd52b3986a9ee06cb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "400"
            },
            {
              "name": "filter",
              "value": "created_timestamp:>'2023-09-17T13:54:41.102Z'+status:!'closed'+cve.severity:['CRITICAL','HIGH']"
            },
            {
              "name": "sort",
              "value": "created_timestamp|desc"
            },
            {
              "name": "facet",
              "value": "cve"
            }
          ],
          "url": "https://api.us-2.crowdstrike.com/spotlight/combined/vulnerabilities/v1?limit=400&filter=created_timestamp%3A%3E%272023-09-17T13%3A54%3A41.102Z%27%2Bstatus%3A%21%27closed%27%2Bcve.severity%3A%5B%27CRITICAL%27%2C%27HIGH%27%5D&sort=created_timestamp%7Cdesc&facet=cve"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1192,
            "text": "{\n \"meta\": {\n  \"query_time\": 0.016055195,\n  \"pagination\": {\n   \"limit\": 400,\n   \"total\": 1,\n   \"after\": \"\"\n  },\n  \"powered_by\": \"spapi\",\n  \"trace_id\": \"240a6308-945a-4c5c-8d6c-f595f02cda74\"\n },\n \"resources\": [\n  {\n   \"id\": \"f353c7636e944ec3877933f4c14bb942_4da4722c5f603f8c802588b786e50d20\",\n   \"cid\": \"87428e31806e4c879014212b2579686f\",\n   \"aid\": \"f353c7636e944ec3877933f4c14bb942\",\n   \"vulnerability_id\": \"CVE-2023-41992\",\n   \"data_providers\": [\n    {\n     \"provider\": \"Falcon sensor\"\n    }\n   ],\n   \"created_timestamp\": \"2023-09-26T16:04:24Z\",\n   \"updated_timestamp\": \"2023-09-26T16:04:24Z\",\n   \"status\": \"open\",\n   \"apps\": [\n    {\n     \"product_name_version\": \"Mac OS 13\",\n     \"product_name_normalized\": \"Mac OS 13\",\n     \"sub_status\": \"open\",\n     \"remediation\": {\n      \"ids\": [\n       \"7e0b9d56146d3198aa2b46e9e199e8af\"\n      ]\n     },\n     \"evaluation_logic\": {\n      \"id\": \"c71d94bf93223be3be3e391327f50729\"\n     }\n    }\n   ],\n   \"suppression_info\": {\n    \"is_suppressed\": false\n   },\n   \"cve\": {\n    \"id\": \"CVE-2023-41992\",\n    \"base_score\": 7.8,\n    \"severity\": \"HIGH\",\n    \"exploit_status\": 90,\n    \"exprt_rating\": \"CRITICAL\",\n    \"remediation_level\": \"O\",\n    \"cisa_info\": {\n     \"is_cisa_kev\": true,\n     \"due_date\": \"2023-07-14T00:00:00Z\"\n    },\n    \"spotlight_published_date\": \"2023-09-25T13:50:00Z\",\n    \"description\": \"The issue was addressed with improved checks. This issue is fixed in iOS 16.7 and iPadOS 16.7, OS 17.0.1 and iPadOS 17.0.1, watchOS 9.6.3, macOS Ventura 13.6, macOS Monterey 12.7, watchOS 10.0.1. A local attacker may be able to elevate their privileges. Apple is aware of a report that this issue may have been actively exploited against versions of iOS before iOS 16.7.\\n\",\n    \"published_date\": \"2023-09-21T19:15:00Z\",\n    \"vendor_advisory\": [\n     \"https://support.apple.com/en-us/HT213932\",\n     \"https://support.apple.com/kb/HT213926\",\n     \"https://support.apple.com/en-us/HT213926\",\n     \"https://support.apple.com/en-us/HT213929\",\n     \"https://support.apple.com/en-us/HT213927\",\n     \"https://support.apple.com/en-us/HT213931\",\n     \"https://support.apple.com/en-us/HT213928\"\n    ],\n    \"references\": [\n     \"http://seclists.org/fulldisclosure/2023/Sep/16\",\n     \"http://seclists.org/fulldisclosure/2023/Sep/18\",\n     \"http://seclists.org/fulldisclosure/2023/Sep/17\",\n     \"http://seclists.org/fulldisclosure/2023/Sep/14\",\n     \"http://seclists.org/fulldisclosure/2023/Sep/19\",\n     \"https://security-tracker.debian.org/tracker/CVE-2023-41992\",\n     \"http://seclists.org/fulldisclosure/2023/Sep/15\"\n    ],\n    \"exploitability_score\": 1.8,\n    \"impact_score\": 5.9,\n    \"vector\": \"CVSS:3.1/AV:L/AC:L/PR:L/UI:N/S:U/C:H/I:H/A:H\"\n   }\n  }\n ]\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-cs-region",
              "value": "us-2"
            },
            {
              "name": "x-cs-traceid",
              "value": "240a6308-945a-4c5c-8d6c-f595f02cda74"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "6000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "5999"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1003,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
