{
  "log": {
    "_recordingName": "iterateDevices",
    "creator": {
      "comment": "persister:RedactFSPersister",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "020fbefc54d650d78dd27a430e1391a2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=UTF-8",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.crowdstrike.com/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1214,
            "text": "{\"access_token\":\"[REDACTED]\",\"token_type\":\"bearer\",\"expires_in\":1799}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 550,
      },
      {
        "_id": "08f86efad10aba4d78aabf467811af65",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://api.crowdstrike.com/devices/queries/devices-scroll/v1?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 439,
            "text": "{\n \"meta\": {\n  \"query_time\": 0.084050242,\n  \"pagination\": {\n   \"total\": 3,\n   \"offset\": \"DnF1ZXJ5VGhlbkZldGNoBQAAAAA6iW-VFnpjQldDMjNiU2htV1FGbUo5anc1d0EAAAAAOnTgtRZqV0xVRF9ndFFhQ09zYkVhTzNNOUxnAAAAADpz2L8WSWdUN2d1OVBUM2kxNGNVMUlaU1BZUQAAAAA6hrG3FlR6aHpFU1UxUkNpZ3FVV2tWNVBkQ2cAAAAAOnto1hZTajRqVll0dVF3U2VQQThXdlo3ZjZB\",\n   \"expires_at\": 1575494272679859709\n  },\n  \"powered_by\": \"device-api\",\n  \"trace_id\": \"f6acdad3-2e9f-4867-95dc-54414145e0f1\"\n },\n \"resources\": [\n  \"d9e4ffb95d3c470668bf549fb40d294e\"\n ],\n \"errors\": []\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "6000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "5999"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 492,
      },
      {
        "_id": "e7d33b2b2666489aa48e72721aa636e8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "ids",
              "value": "d9e4ffb95d3c470668bf549fb40d294e"
            }
          ],
          "url": "https://api.crowdstrike.com/devices/entities/devices/v1?ids=d9e4ffb95d3c470668bf549fb40d294e"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1003,
            "text": "{\n \"meta\": {\n  \"query_time\": 0.010928701,\n  \"powered_by\": \"device-api\",\n  \"trace_id\": \"9d17100c-fa49-4717-8b4a-9b57f4930928\"\n },\n \"resources\": [\n  {\n   \"device_id\": \"d9e4ffb95d3c470668bf549fb40d294e\",\n   \"cid\": \"9e09b297082d49bb8209de043d880d14\",\n   \"agent_load_flags\": \"0\",\n   \"agent_local_time\": \"2019-08-08T18:25:50.945Z\",\n   \"agent_version\": \"4.3.6507.0\",\n   \"bios_manufacturer\": \"innotek GmbH\",\n   \"bios_version\": \"VirtualBox\",\n   \"build_number\": \"7601\",\n   \"config_id_base\": \"65994754\",\n   \"config_id_build\": \"6507\",\n   \"config_id_platform\": \"3\",\n   \"external_ip\": \"54.183.25.1\",\n   \"mac_address\": \"08-00-27-51-56-d8\",\n   \"hostname\": \"Sample-Detect-3\",\n   \"first_seen\": \"2019-12-02T15:54:42Z\",\n   \"last_seen\": \"2019-12-02T15:54:42Z\",\n   \"local_ip\": \"10.0.2.15\",\n   \"major_version\": \"6\",\n   \"minor_version\": \"1\",\n   \"os_version\": \"Windows 7\",\n   \"platform_id\": \"0\",\n   \"platform_name\": \"Windows\",\n   \"policies\": [\n    {\n     \"policy_type\": \"prevention\",\n     \"policy_id\": \"40bb0ba06b9f4a10a4330fccecc01f84\",\n     \"applied\": false,\n     \"settings_hash\": \"b030fc2e\",\n     \"assigned_date\": \"2019-12-02T15:57:02.852606502Z\",\n     \"applied_date\": null,\n     \"rule_groups\": []\n    }\n   ],\n   \"device_policies\": {\n    \"prevention\": {\n     \"policy_type\": \"prevention\",\n     \"policy_id\": \"40bb0ba06b9f4a10a4330fccecc01f84\",\n     \"applied\": false,\n     \"settings_hash\": \"b030fc2e\",\n     \"assigned_date\": \"2019-12-02T15:57:02.852606502Z\",\n     \"applied_date\": null,\n     \"rule_groups\": []\n    },\n    \"sensor_update\": {\n     \"policy_type\": \"sensor-update\",\n     \"policy_id\": \"345eee272e244c4ca2554b0a701a0d95\",\n     \"applied\": false,\n     \"settings_hash\": \"65994753|3|2|automatic;0\",\n     \"assigned_date\": \"2019-12-02T15:57:02.852614946Z\",\n     \"applied_date\": null,\n     \"uninstall_protection\": \"UNKNOWN\"\n    },\n    \"device_control\": {\n     \"policy_type\": \"device-control\",\n     \"policy_id\": \"a0a599ce2ef642afafe0d61aa1e27592\",\n     \"applied\": false,\n     \"assigned_date\": \"2019-12-02T15:57:02.852623067Z\",\n     \"applied_date\": null\n    }\n   },\n   \"product_type\": \"1\",\n   \"product_type_desc\": \"Workstation\",\n   \"service_pack_major\": \"1\",\n   \"service_pack_minor\": \"0\",\n   \"pointer_size\": \"8\",\n   \"status\": \"normal\",\n   \"system_manufacturer\": \"innotek GmbH\",\n   \"system_product_name\": \"VirtualBox\",\n   \"modified_timestamp\": \"2019-12-02T15:57:03Z\",\n   \"slow_changing_modified_timestamp\": \"2019-12-02T15:54:43Z\",\n   \"meta\": {\n    \"version\": \"4\"\n   }\n  }\n ],\n \"errors\": []\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "6000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "5998"
            }
          ],
          "status": 200,
      [...]
