{
  "log": {
    "_recordingName": "authenticateError",
    "creator": {
      "comment": "persister:RedactFSPersister",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "020fbefc54d650d78dd27a430e1391a2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=UTF-8",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.crowdstrike.com/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 226,
            "text": "{\n \"meta\": {\n  \"query_time\": 0.162854966,\n  \"powered_by\": \"csam\",\n  \"trace_id\": \"3404300e-6e15-4bc9-a170-cb27336167aa\"\n },\n \"errors\": [\n  {\n   \"code\": 403,\n   \"message\": \"Failed to issue access token - Not Authorized\"\n  }\n ]\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "295"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 366,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
