{
  "log": {
    "_recordingName": "iteratePreventionPolicyMemberIdsSinglePage",
    "creator": {
      "comment": "persister:RedactFSPersister",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "020fbefc54d650d78dd27a430e1391a2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=UTF-8",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.crowdstrike.com/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1214,
            "text": "{\"access_token\":\"[REDACTED]\",\"token_type\":\"bearer\",\"expires_in\":1799}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "298"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 516,
      },
      {
        "_id": "80f07422183859753ccdb1cac619cffa",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "id",
              "value": "40bb0ba06b9f4a10a4330fccecc01f84"
            }
          ],
          "url": "https://api.crowdstrike.com/policy/queries/prevention-members/v1?id=40bb0ba06b9f4a10a4330fccecc01f84"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 247,
            "text": "{\n \"meta\": {\n  \"query_time\": 1.68e-7,\n  \"pagination\": {\n   \"offset\": 3,\n   \"limit\": 100,\n   \"total\": 3\n  },\n  \"trace_id\": \"1382b0bd-dbac-465e-aa7d-1d2f9ff96c11\"\n },\n \"resources\": [\n  \"097f78fbf1af411958e323aa33277236\",\n  \"b7bbf18d26b344225072b1be2ae8b9e4\",\n  \"d9e4ffb95d3c470668bf549fb40d294e\"\n ],\n \"errors\": []\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "6000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "5998"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2125,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
