{
  "log": {
    "_recordingName": "iterateDevicesSinglePage",
    "creator": {
      "comment": "persister:RedactFSPersister",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "020fbefc54d650d78dd27a430e1391a2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=UTF-8",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.crowdstrike.com/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1214,
            "text": "{\"access_token\":\"[REDACTED]\",\"token_type\":\"bearer\",\"expires_in\":1799}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 514,
      },
      {
        "_id": "df3166ef87e20b0a5262a1b7dbfdb3ae",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.crowdstrike.com/devices/queries/devices-scroll/v1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 495,
            "text": "{\n \"meta\": {\n  \"query_time\": 0.092877103,\n  \"pagination\": {\n   \"total\": 3,\n   \"offset\": \"DnF1ZXJ5VGhlbkZldGNoBQAAAAA5WqmEFmhlcHQ5NnE3Ull1RFJxQTNPbW1WWmcAAAAAOUI22xZHZ2pRQUNrMFE1Q1VUT0MxVDZGTEpnAAAAADlsAakWOERtNkNWeEVTR3FQdENxNHkxNU0xZwAAAAA5TrYhFmNHRjcwZ0dyUW5HR2hxb2VFang5VVEAAAAAOUSyeRZULUZvd0FuQlFGYV9FM3BDSzlsS3V3\",\n   \"expires_at\": 1575494636214046793\n  },\n  \"powered_by\": \"device-api\",\n  \"trace_id\": \"dac74040-06ed-4243-aa6b-0e287e951a02\"\n },\n \"resources\": [\n  \"b7bbf18d26b344225072b1be2ae8b9e4\",\n  \"097f78fbf1af411958e323aa33277236\",\n  \"d9e4ffb95d3c470668bf549fb40d294e\"\n ],\n \"errors\": []\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "6000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "5999"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 518,
      },
      {
        "_id": "53c60d54[...]
