{
  "log": {
    "_recordingName": "iterateDevicesCompletes",
    "creator": {
      "comment": "persister:RedactFSPersister",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "020fbefc54d650d78dd27a430e1391a2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=UTF-8",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.crowdstrike.com/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1214,
            "text": "{\"access_token\":\"[REDACTED]\",\"token_type\":\"bearer\",\"expires_in\":1799}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "298"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 493,
      },
      {
        "_id": "df3166ef87e20b0a5262a1b7dbfdb3ae",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://api.crowdstrike.com/devices/queries/devices-scroll/v1?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 443,
            "text": "{\n \"meta\": {\n  \"query_time\": 0.016789617,\n  \"pagination\": {\n   \"total\": 3,\n   \"offset\": \"DnF1ZXJ5VGhlbkZldGNoBQAAAAA8pSqMFmhlcHQ5NnE3Ull1RFJxQTNPbW1WWmcAAAAAPItNjBZHZ2pRQUNrMFE1Q1VUT0MxVDZGTEpnAAAAADy262oWOERtNkNWeEVTR3FQdENxNHkxNU0xZwAAAAA8l8y0FmNHRjcwZ0dyUW5HR2hxb2VFang5VVEAAAAAPI3JihZULUZvd0FuQlFGYV9FM3BDSzlsS3V3\",\n   \"expires_at\": 1575675997455026645\n  },\n  \"powered_by\": \"device-api\",\n  \"trace_id\": \"fe2522a1-a5ee-46af-bc2a-2e9627588bfe\"\n },\n \"resources\": [\n  \"b7bbf18d26b344225072b1be2ae8b9e4\"\n ],\n \"errors\": []\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "6000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "5996"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 430,
      },
      {
        "_id": "239d7ab5eb4657d6a4f2239d52a1e7a3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "ids",
              "value": "b7bbf18d26b344225072b1be2ae8b9e4"
            }
          ],
          "url": "https://api.crowdstrike.com/devices/entities/devices/v1?ids=b7bbf18d26b344225072b1be2ae8b9e4"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1013,
            "text": "{\n \"meta\": {\n  \"query_time\": 0.011367286,\n  \"powered_by\": \"device-api\",\n  \"trace_id\": \"6d881689-cb4c-4b05-b288-4681e5ea27d4\"\n },\n \"resources\": [\n  {\n   \"device_id\": \"b7bbf18d26b344225072b1be2ae8b9e4\",\n   \"cid\": \"9e09b297082d49bb8209de043d880d14\",\n   \"agent_load_flags\": \"0\",\n   \"agent_local_time\": \"2016-03-25T12:14:01.127Z\",\n   \"agent_version\": \"0.0.0000.0\",\n   \"bios_manufacturer\": \"Crowdstrike\",\n   \"bios_version\": \"11.1.3 (32521)\",\n   \"build_number\": \"7601\",\n   \"config_id_base\": \"65994754\",\n   \"config_id_build\": \"0\",\n   \"config_id_platform\": \"3\",\n   \"external_ip\": \"54.183.25.1\",\n   \"mac_address\": \"08-00-27-51-56-d8\",\n   \"hostname\": \"Sample-Detect-2\",\n   \"first_seen\": \"2019-12-02T15:54:40Z\",\n   \"last_seen\": \"2019-12-02T15:54:40Z\",\n   \"local_ip\": \"15.2.0.10\",\n   \"major_version\": \"6\",\n   \"minor_version\": \"1\",\n   \"os_version\": \"Windows 7\",\n   \"platform_id\": \"0\",\n   \"platform_name\": \"Windows\",\n   \"policies\": [\n    {\n     \"policy_type\": \"prevention\",\n     \"policy_id\": \"40bb0ba06b9f4a10a4330fccecc01f84\",\n     \"applied\": false,\n     \"settings_hash\": \"b030fc2e\",\n     \"assigned_date\": \"2019-12-02T15:57:02.852608239Z\",\n     \"applied_date\": null,\n     \"rule_groups\": []\n    }\n   ],\n   \"device_policies\": {\n    \"prevention\": {\n     \"policy_type\": \"prevention\",\n     \"policy_id\": \"40bb0ba06b9f4a10a4330fccecc01f84\",\n     \"applied\": false,\n     \"settings_hash\": \"b030fc2e\",\n     \"assigned_date\": \"2019-12-02T15:57:02.852608239Z\",\n     \"applied_date\": null,\n     \"rule_groups\": []\n    },\n    \"sensor_update\": {\n     \"policy_type\": \"sensor-update\",\n     \"policy_id\": \"345eee272e244c4ca2554b0a701a0d95\",\n     \"applied\": false,\n     \"settings_hash\": \"65994753|3|2|automatic;0\",\n     \"assigned_date\": \"2019-12-02T15:57:02.852613977Z\",\n     \"applied_date\": null,\n     \"uninstall_protection\": \"DISABLED\"\n    },\n    \"device_control\": {\n     \"policy_type\": \"device-control\",\n     \"policy_id\": \"a0a599ce2ef642afafe0d61aa1e27592\",\n     \"applied\": false,\n     \"assigned_date\": \"2019-12-02T15:57:02.852622432Z\",\n     \"applied_date\": null\n    }\n   },\n   \"product_type\": \"1\",\n   \"product_type_desc\": \"Workstation\",\n   \"service_pack_major\": \"1\",\n   \"service_pack_minor\": \"0\",\n   \"pointer_size\": \"8\",\n   \"status\": \"normal\",\n   \"system_manufacturer\": \"CloudSim\",\n   \"system_product_name\": \"Crowdstrike\",\n   \"modified_timestamp\": \"2019-12-02T15:57:03Z\",\n   \"slow_changing_modified_timestamp\": \"2019-12-02T15:54:41Z\",\n   \"meta\": {\n    \"version\": \"4\"\n   }\n  }\n ],\n \"errors\": []\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "6000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "5995"
            }
          ],
          "status": 200,
      [...]
