{
  "log": {
    "_recordingName": "validateInvocationAuthError",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "020fbefc54d650d78dd27a430e1391a2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=UTF-8",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.crowdstrike.com/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 227,
            "text": "{\n \"meta\": {\n  \"query_time\": 0.065731953,\n  \"powered_by\": \"csam\",\n  \"trace_id\": \"a5fafc1c-7036-4bf4-8f95-6a792d9b7e51\"\n },\n \"errors\": [\n  {\n   \"code\": 403,\n   \"message\": \"Failed to issue access token - Not Authorized\"\n  }\n ]\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-cs-region",
              "value": "us-1"
            },
            {
              "name": "x-cs-traceid",
              "value": "a5fafc1c-7036-4bf4-8f95-6a792d9b7e51"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "297"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 360,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
