{
  "log": {
    "_recordingName": "executeAPIRequest500",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "020fbefc54d650d78dd27a430e1391a2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=UTF-8",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.crowdstrike.com/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 236,
            "text": "{\n \"meta\": {\n  \"query_time\": 0.000699457,\n  \"powered_by\": \"csam\",\n  \"trace_id\": \"8df84c2f-dade-47b2-bf1c-4f27042b19b8\"\n },\n \"errors\": [\n  {\n   \"code\": 400,\n   \"message\": \"Failed to generate access token for clientID=clientId.\"\n  }\n ]\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-cs-region",
              "value": "us-1"
            },
            {
              "name": "x-cs-traceid",
              "value": "8df84c2f-dade-47b2-bf1c-4f27042b19b8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            }
          ],
          "status": 500,
          "statusText": "Internal error"
        },
        "time": 513,
      },
      {
        "_id": "020fbefc54d650d78dd27a430e1391a2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=UTF-8",
            "params": [],
            "text": "[REDACTED]"
        [...]
