{
  "log": {
    "_recordingName": "fetch-zero-trust-assessments",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b4391da807354cda8b8ffaab25e22621",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=UTF-8",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.crowdstrike.com/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "location",
              "value": "https://api.us-2.crowdstrike.com/oauth2/token"
            },
            {
              "name": "x-cs-region",
              "value": "us-2"
            },
            {
              "name": "x-cs-traceid",
              "value": "7d6878c4-1446-4d5d-ac2a-565c137b2cd8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "298"
            }
          ],
          "status": 308,
          "statusText": "OK"
        },
        "time": 1254,
      },
      {
        "_id": "b4391da807354cda8b8ffaab25e22621",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=UTF-8",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.us-2.crowdstrike.com/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1251,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":1799,\"token_type\":\"bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-cs-region",
              "value": "us-2"
            },
            {
              "name": "x-cs-traceid",
              "value": "de990640-0205-4202-abbe-10b20f50c884"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
  [...]
