{
  "log": {
    "_recordingName": "validateInvocationAuthBadRequestError",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "020fbefc54d650d78dd27a430e1391a2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=UTF-8",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.crowdstrike.com/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 237,
            "text": "{\n \"meta\": {\n  \"query_time\": 0.001803378,\n  \"powered_by\": \"csam\",\n  \"trace_id\": \"e6caabbb-7638-4805-85f1-9239c4064e1e\"\n },\n \"errors\": [\n  {\n   \"code\": 400,\n   \"message\": \"Failed to generate access token for clientID=not-valid.\"\n  }\n ]\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-cs-region",
              "value": "us-1"
            },
            {
              "name": "x-cs-traceid",
              "value": "e6caabbb-7638-4805-85f1-9239c4064e1e"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "298"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 253,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
