{
  "log": {
    "_recordingName": "build-vulnerability-expoits-sensor-relationship",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b4391da807354cda8b8ffaab25e22621",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=UTF-8",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.crowdstrike.com/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1244,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":1799,\"token_type\":\"bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-cs-region",
              "value": "us-1"
            },
            {
              "name": "x-cs-traceid",
              "value": "fd42369c-0722-4a92-9820-e3a1d02be162"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 928,
      },
      {
        "_id": "aa33ceaf98a63b8bd52b3986a9ee06cb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "400"
            },
            {
              "name": "filter",
              "value": "created_timestamp:>'2023-05-13T16:44:25.332Z'+status:!'closed'+cve.severity:['CRITICAL','HIGH','MEDIUM','UNKNOWN']"
            },
            {
              "name": "sort",
              "value": "created_timestamp|desc"
            },
            {
              "name": "facet",
              "value": "cve"
            }
          ],
          "url": "https://api.crowdstrike.com/spotlight/combined/vulnerabilities/v1?limit=400&filter=created_timestamp%3A%3E%272023-05-13T16%3A44%3A25.332Z%27%2Bstatus%3A%21%27closed%27%2Bcve.severity%3A%5B%27CRITICAL%27%2C%27HIGH%27%2C%27MEDIUM%27%2C%27UNKNOWN%27%5D&sort=created_timestamp%7Cdesc&facet=cve"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1680,
            "text": "{\n \"meta\": {\n  \"query_time\": 0.050746615,\n  \"pagination\": {\n   \"limit\": 400,\n   \"total\": 5,\n   \"after\": \"WzE2ODQ1MzAyODkwMDAsIjhmYzY1MzE1NjEyYjRmNmI5NmQzNTZhZDExY2QwZTZhXzQzOWQ3ZTkxMTMzNjM5MDc4MmVjMWYyZmE0NjcwZjJhIl0=\"\n  },\n  \"powered_by\": \"spapi\",\n  \"trace_id\": \"cdc75cb5-9808-4ea8-b6bf-b0bebaf165fe\"\n },\n \"resources\": [\n  {\n   \"id\": \"8fc65315612b4f6b96d356ad11cd0e6a_e9f394863e943aeba997339d28cc4c49\",\n   \"cid\": \"e5d4a79a091448bfb80afc724b3cf952\",\n   \"aid\": \"8fc65315612b4f6b96d356ad11cd0e6a\",\n   \"created_timestamp\": \"2023-05-19T21:04:49Z\",\n   \"updated_timestamp\": \"2023-05-19T21:04:49Z\",\n   \"status\": \"open\",\n   \"apps\": [\n    {\n     \"product_name_version\": \"Chrome\",\n     \"sub_status\": \"open\",\n     \"remediation\": {\n      \"ids\": [\n       \"98b0cb045f743f27b7ff89f47a2e9cb2\"\n      ]\n     },\n     \"evaluation_logic\": {\n      \"id\": \"dfe84ccd851930f0bb45cfe7cf27eb3b\"\n     }\n    }\n   ],\n   \"suppression_info\": {\n    \"is_suppressed\": false\n   },\n   \"cve\": {\n    \"id\": \"CVE-2023-2725\",\n    \"base_score\": 8.8,\n    \"severity\": \"HIGH\",\n    \"exploit_status\": 0,\n    \"exprt_rating\": \"MEDIUM\",\n    \"remediation_level\": \"O\",\n    \"cisa_info\": {\n     \"is_cisa_kev\": false\n    },\n    \"spotlight_published_date\": \"2023-05-18T12:03:00Z\",\n    \"description\": \"Use after free in Guest View in Google Chrome prior to 113.0.5672.126 allowed an attacker who convinced a user to install a malicious extension to potentially exploit heap corruption via a crafted HTML page. (Chromium security severity: High)\\n\",\n    \"published_date\": \"2023-05-16T00:00:00Z\",\n    \"vendor_advisory\": [\n     \"https://msrc.microsoft.com/update-guide/en-us/vulnerability/CVE-2023-2725\"\n    ],\n    \"references\": [\n     \"https://ubuntu.com/security/CVE-2023-2725\",\n     \"https://security-tracker.debian.org/tracker/CVE-2023-2725\"\n    ],\n    \"exploitability_score\": 2.8,\n    \"impact_score\": 5.9,\n    \"vector\": \"CVSS:3.1/AV:N/AC:L/PR:N/UI:R/S:U/C:H/I:H/A:H\"\n   }\n  },\n  {\n   \"id\": \"8fc65315612b4f6b96d356ad11cd0e6a_b01ccfb739223e599c40b96cc9d84dac\",\n   \"cid\": \"e5d4a79a091448bfb80afc724b3cf952\",\n   \"aid\": \"8fc65315612b4f6b96d356ad11cd0e6a\",\n   \"created_timestamp\": \"2023-05-19T21:04:49Z\",\n   \"updated_timestamp\": \"2023-05-19T21:04:49Z\",\n   \"status\": \"open\",\n   \"apps\": [\n    {\n     \"product_name_version\": \"Chrome\",\n     \"sub_status\": \"open\",\n     \"remediati[...]
