{
  "log": {
    "_recordingName": "build-vulnerability-expoits-sensor-relationship",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b4391da807354cda8b8ffaab25e22621",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=UTF-8",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.crowdstrike.com/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1244,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":1799,\"token_type\":\"bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-cs-region",
              "value": "us-1"
            },
            {
              "name": "x-cs-traceid",
              "value": "671ce47a-dd5c-41be-8e33-dbce09ac3331"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "298"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1070,
      },
      {
        "_id": "aa33ceaf98a63b8bd52b3986a9ee06cb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "last_seen:>='2023-03-20T16:52:48.591Z'"
            },
            {
              "name": "limit",
              "value": "250"
            }
          ],
          "url": "https://api.crowdstrike.com/devices/queries/devices-scroll/v1?filter=last_seen%3A%3E%3D%272023-03-20T16%3A52%3A48.591Z%27&limit=250"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 485,
            "text": "{\n \"meta\": {\n  \"query_time\": 0.008692045,\n  \"pagination\": {\n   \"total\": 4,\n   \"offset\": \"FGluY2x1ZGVfY29udGV4dF91dWlkDnF1ZXJ5VGhlbkZldGNoAhY3U3FkVS1zU1JUYXF4Wl9VbEJZMmJRAAAAAAZZCOIWeFhOSFZYNHVSbnVZUmpYS3pqVm9lZxZ2M2hJTEFURVRLR0U2WFpDcGN0Z2F3AAAAAAaECMEWTTB6X0xJc2xSYXFfbU55b1U2ejd5Zw==\",\n   \"expires_at\": 1683651290585856975\n  },\n  \"powered_by\": \"device-api\",\n  \"trace_id\": \"7dd959d7-6089-418a-938e-fb62490ede3c\"\n },\n \"resources\": [\n  \"3fd9b8a8a7ba426a9bf3aaa2ddfc5b02\",\n  \"3eb0e8e03d1245eaa643046f84bc51f8\",\n  \"0b5abb999c1544f1af71983753ff8d22\",\n  \"8fc65315612b4f6b96d356ad11cd0e6a\"\n ],\n \"errors\": []\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-cs-region",
              "value": "us-1"
            },
            {
              "name": "x-cs-traceid",
              "value": "7dd959d7-6089-418a-938e-fb62490ede3c"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "6000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "5983"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1035,
      },
      {
        "_id": "b4391da807354cda8b8ffaab25e22621",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[\"3fd9b8a8a7ba426a9bf3aaa2ddfc5b02\",\"3eb0e8e03d1245eaa643046f84bc51f8\",\"0b5abb999c1544f1af71983753ff8d22\",\"8fc65315612b4f6b96d356ad11cd0e6a\"]}"
          },
          "queryString": [],
          "url": "https://api.crowdstrike.com/devices/entities/devices/v2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 5547,
            "text": "{\n \"meta\": {\n  \"query_time\": 0.008215905,\n  \"powered_by\": \"device-api\",\n  \"trace_id\": \"9720ba60-1a26-4093-9821-7c572cfa9378\"\n },\n \"resources\": [\n  {\n   \"device_id\": \"3fd9b8a8a7ba426a9bf3aaa2ddfc5b02\",\n   \"cid\": \"e5d4a79a091448bfb80afc724b3cf952\",\n   \"agent_load_flags\": \"1\",\n   \"agent_local_time\": \"2023-04-14T03:41:02.914Z\",\n   \"agent_version\": \"6.52.16606.0\",\n   \"bios_manufacturer\": \"American Megatrends Inc.\",\n   \"bios_version\": \"090008 \",\n   \"build_number\": \"19044\",\n   \"config_id_base\": \"65994753\",\n   \"config_id_build\": \"16606\",\n   \"config_id_platform\": \"3\",\n   \"cpu_signature\": \"329303\",\n   \"external_ip\": \"20.58.113.63\",\n   \"mac_address\": \"00-22-48-00-63-1f\",\n   \"instance_id\": \"3c4c3d6f-fa6d-44d3-8a29-1e7d16ce5dfd\",\n   \"service_provider\": \"AZURE\",\n   \"service_provider_account_id\": \"ec5c2f3b-9a85-498b-b609-e81a8e6e2cbd\",\n   \"hostname\": \"SENTINEL-C-02\",\n   \"first_seen\": \"2021-06-01T07:48:08Z\",\n   \"last_seen\": \"2023-05-09T16:42:02Z\",\n   \"local_ip\": \"172.18.0.9\",\n   \"machine_domain\": \"illusive-sacumen.com\",\n   \"major_version\": \"10\",\n   \"minor_version\": \"0\",\n   \"os_version\": \"Windows 10\",\n   \"os_build\": \"19044\",\n   \"ou\": [],\n   \"platform_id\": \"0\",\n   \"platform_name\": \"Windows\",\n   \"policies\": [\n    {\n     \"policy_type\": \"prevention\",\n     \"policy_id\": \"adedf3f6b82f49ed8559eb4a44b9472f\",\n     \"applied\": true,\n     \"settings_hash\": \"98b904bc\",\n     \"assigned_date\": \"2021-12-02T07:48:17.22891527Z\",\n     \"applied_date\": \"2021-12-02T07:50:58.811808934Z\",\n     \"rule_groups\": []\n    }\n   ],\n   \"reduced_functionality_mode\": \"no\",\n   \"device_policies\": {\n    \"prevention\": {\n     \"policy_type\": \"prevention\",\n     \"policy_id\": \"adedf3f6b82f49ed8559eb4a44b9472f\",\n     \"applied\": true,\n     \"settings_hash\": \"98b904bc\",\n     \"assigned_date\": \"2021-12-02T07:48:17.22891527Z\",\n     \"applied_date\": \"2021-12-02T07:50:58.811808934Z\",\n     \"rule_groups\": []\n    },\n    \"sensor_update\": {\n     \"policy_type\": \"sensor-update\",\n     \"policy_id\": \"adc9de5a36c74d5a89056b61257aeb6e\",\n     \"applied\": true,\n     \"settings_hash\": \"tagged|1;101\",\n     \"assigned_date\": \"2023-03-28T22:27:09.243972726Z\",\n     \"applied_date\": \"2023-03-28T22:32:45.522172389Z\",\n     \"uninstall_protection\": \"ENABLED\"\n    },\n    \"device_control\": {\n     \"policy_type\": \"device-control\",\n     \"policy_id\": \"25d6ae9765624a0b9c1ec577836a8925\",\n     \"applied\": true,\n     \"assigned_date\": \"2023-04-16T03:35:03.447632442Z\",\n     \"applied_date\": \"2023-04-16T03:39:17.327035667Z\"\n    },\n    \"global_config\": {\n     \"policy_type\": \"globalconfig\",\n     \"policy_id\": \"dc483372e2474e2fb5efc99a49a80fc1\",\n     \"applied\": true,\n     \"settings_hash\": \"38547ed0\",\n     \"assigned_date\": \"2023-04-14T03:44:56.556341196Z\",\n     \"applied_date\": \"2023-04-14T03:46:08.252275252Z\"\n    },\n    \"remote_response\": {\n     \"policy_type\": \"remote-response\",\n     \"policy_id\": \"5afdf779a3d34c55b9ab0d7bb5801a58\",\n     \"applied\": true,\n     \"settings_hash\": \"d4cbb29\",\n     \"assigned_date\": \"2021-10-29T18:05:33.280074559Z\",\n     \"applied_date\": \"2021-10-29T18:07:34.528513533Z\"\n    },\n    \"fim\": {\n     \"policy_type\": \"fim\",\n     \"policy_id\": \"dbf651e220984f2798cf98e3613b5085\",\n     \"applied\": true,\n     \"settings_hash\": \"9ad6504536480ffabf76d00b7212780adf71efee4bd215423e8a6d06469e533d\",\n     \"assigned_date\": \"2023-05-04T09:30:14.248177068Z\",\n     \"applied_date\": \"2023-05-04T09:32:02.182040748Z\"\n    },\n    \"firewall\": {\n     \"policy_type\": \"firewall\",\n     \"policy_id\": \"b07aa203e1b24a1581b5403390746a36\",\n     \"applied\": true,\n     \"assigned_date\": \"2023-04-17T14:55:24.868945404Z\",\n     \"applied_date\": \"2023-04-17T15:00:25.02027905Z\",\n     \"rule_set_id\": \"b07aa203e1b24a1581b5403390746a36\"\n    }\n   },\n   \"groups\": [\n    \"eb08cd6ce3444899bdc50742f95db03e\"\n   ],\n   \"group_hash\": \"08d4b43d263f7c5c848e77cc2a41314c33096f741feddbb3157227a95e15c514\",\n   \"product_type\": \"1\",\n   \"product_type_desc\": \"Workstation\",\n   \"provision_status\": \"Provisioned\",\n   \"serial_number\": \"0000-0004-3449-1529-1657-8152-51\",\n   \"service_pack_major\": \"0\",\n   \"service_pack_minor\": \"0\",\n   \"pointer_size\": \"8\",\n   \"site_name\": \"Default-First-Site-Name\",\n   \"status\": \"normal\",\n   \"system_manufacturer\": \"Microsoft Corporation\",\n   \"system_product_name\": \"Virtual Machine\",\n   \"tags\": [],\n   \"modified_timestamp\": \"2023-05-09T16:42:03Z\",\n   \"meta\": {\n    \"version\": \"60784\",\n    \"version_string\": \"1:1477653053\"\n   },\n   \"zone_group\": \"Sentinel\",\n   \"kernel_version\": \"10.0.19044.2846\",\n   \"os_product_name\": \"Windows 10 Pro\",\n   \"chassis_type\": \"3\",\n   \"chassis_type_desc\": \"Desktop\",\n   \"last_reboot\": \"2023-04-14T03:40:35Z\",\n   \"connection_ip\": \"172.18.0.9\",\n   \"default_gateway_ip\": \"172.18.0.1\",\n   \"connection_mac_address\": \"00-22-48-00-63-1f\"\n  },\n  {\n   \"device_id\": \"3eb0e8e03d1245eaa643046f84bc51f8\",\n   \"cid\": \"e5d4a79a091448bfb80afc724b3cf952\",\n   \"agent_load_flags\": \"0\",\n   \"agent_local_time\": \"2023-03-28T22:44:14.181Z\",\n   \"agent_version\": \"6.52.16606.0\",\n   \"bios_manufacturer\": \"Xen\",\n   \"bios_version\": \"4.2.amazon\",\n   \"build_number\": \"14393\",\n   \"config_id_base\": \"65994753\",\n   \"config_id_build\": \"16606\",\n   \"config_id_platform\": \"3\",\n   \"cpu_signature\": \"263921\",\n   \"detection_suppression_status\": \"unsuppressed\",\n   \"external_ip\": \"3.217.213.50\",\n   \"mac_address\": \"02-a0-93-9b-bb-a9\",\n   \"instance_id\": \"i-094bcd33735c19ff6\",\n   \"service_provider\": \"AWS_EC2_V2\",\n   \"service_provider_account_id\": \"390847698897\",\n   \"hostname\": \"CS-SE-RDPACCESS\",\n   \"host_hidden_status\": \"visible\",\n   \"first_seen\": \"2021-02-09T15:20:39Z\",\n   \"last_seen\": \"2023-05-09T16:24:22Z\",\n   \"local_ip\": \"172.18.0.99\",\n   \"machine_domain\": \"csanfr.local\",\n   \"major_version\": \"10\",\n   \"minor_version\": \"0\",\n   \"os_version\": \"Windows Server 2016\",\n   \"os_build\": \"14393\",\n   \"ou\": [],\n   \"platform_id\": \"0\",\n   \"platform_name\": \"Windows\",\n   \"policies\": [\n    {\n     \"policy_type\": \"prevention\",\n     \"policy_id\": \"adedf3f6b82f49[...]
