{
  "log": {
    "_recordingName": "fetch-discover-applications",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b4391da807354cda8b8ffaab25e22621",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=UTF-8",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.us-2.crowdstrike.com/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1251,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":1799,\"token_type\":\"bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-cs-region",
              "value": "us-2"
            },
            {
              "name": "x-cs-traceid",
              "value": "0c1de0a6-b0c6-4a03-82f3-c495a065c306"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 695,
      },
      {
        "_id": "aa33ceaf98a63b8bd52b3986a9ee06cb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "last_seen:>='2023-07-24T15:35:28.516Z'"
            },
            {
              "name": "limit",
              "value": "250"
            }
          ],
          "url": "https://api.us-2.crowdstrike.com/devices/queries/devices-scroll/v1?filter=last_seen%3A%3E%3D%272023-07-24T15%3A35%3A28.516Z%27&limit=250"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 417,
            "text": "{\n \"meta\": {\n  \"query_time\": 0.010178003,\n  \"pagination\": {\n   \"total\": 1,\n   \"offset\": \"FGluY2x1ZGVfY29udGV4dF91dWlkDnF1ZXJ5VGhlbkZldGNoAhZxdUp4VnhQaVNRYWswalM3bFM1N2JRAAAAAAcTcGcWVHhuZ1BXTXFSdDJXQW1nNXRqbWNOZxZCT2ZjUDBSLVFOaU1BSG1LWTlxaWdBAAAAAAcOA9MWT1lOaUUyWDNTRUNvalRBNEstYmNNUQ==\",\n   \"expires_at\": 1694533049982823283\n  },\n  \"powered_by\": \"device-api\",\n  \"trace_id\": \"55e3a939-7721-44c0-b647-a1cb746404d4\"\n },\n \"resources\": [\n  \"f353c7636e944ec3877933f4c14bb942\"\n ],\n \"errors\": []\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-cs-region",
              "value": "us-2"
            },
            {
              "name": "x-cs-traceid",
              "value": "55e3a939-7721-44c0-b647-a1cb746404d4"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "6000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "5999"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 5788,
      },
      {
        "_id": "b4391da807354cda8b8ffaab25e22621",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[\"f353c7636e944ec3877933f4c14bb942\"]}"
          },
          "queryString": [],
          "url": "https://api.us-2.crowdstrike.com/devices/entities/devices/v2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1453,
            "text": "{\n \"meta\": {\n  \"query_time\": 0.001969798,\n  \"powered_by\": \"device-api\",\n  \"trace_id\": \"f248f4ee-79fd-4210-afe0-f71805124d64\"\n },\n \"resources\": [\n  {\n   \"device_id\": \"f353c7636e944ec3877933f4c14bb942\",\n   \"cid\": \"87428e31806e4c879014212b2579686f\",\n   \"agent_load_flags\": \"0\",\n   \"agent_local_time\": \"2023-09-08T11:34:49.619Z\",\n   \"agent_version\": \"7.02.17302.0\",\n   \"bios_manufacturer\": \"Apple Inc.\",\n   \"bios_version\": \"1968.140.7.0.0 (iBridge: 20.16.6072.0.0,0)\",\n   \"config_id_base\": \"65994763\",\n   \"config_id_build\": \"17302\",\n   \"config_id_platform\": \"4\",\n   \"cpu_signature\": \"591597\",\n   \"external_ip\": \"190.48.114.72\",\n   \"mac_address\": \"88-66-5a-1d-cf-16\",\n   \"hostname\": \"Gonzalos-MacBook-Pro.local\",\n   \"first_seen\": \"2023-08-16T15:07:22Z\",\n   \"last_seen\": \"2023-09-12T15:33:18Z\",\n   \"local_ip\": \"192.168.243.57\",\n   \"major_version\": \"22\",\n   \"minor_version\": \"6\",\n   \"os_version\": \"Ventura (13)\",\n   \"os_build\": \"22G90\",\n   \"platform_id\": \"1\",\n   \"platform_name\": \"Mac\",\n   \"policies\": [\n    {\n     \"policy_type\": \"prevention\",\n     \"policy_id\": \"6b90cd3739c54107a153761b4cd1e346\",\n     \"applied\": true,\n     \"settings_hash\": \"ec4c535b\",\n     \"assigned_date\": \"2023-08-16T15:09:41.437087364Z\",\n     \"applied_date\": \"2023-08-16T15:11:26.641753502Z\",\n     \"rule_groups\": []\n    }\n   ],\n   \"reduced_functionality_mode\": \"no\",\n   \"device_policies\": {\n    \"prevention\": {\n     \"policy_type\": \"prevention\",\n     \"policy_id\": \"6b90cd3739c54107a153761b4cd1e346\",\n     \"applied\": true,\n     \"settings_hash\": \"ec4c535b\",\n     \"assigned_date\": \"2023-08-16T15:09:41.437087364Z\",\n     \"applied_date\": \"2023-08-16T15:11:26.641753502Z\",\n     \"rule_groups\": []\n    },\n    \"sensor_update\": {\n     \"policy_type\": \"sensor-update\",\n     \"policy_id\": \"a54ae1a10edd4cf5a7225abe9263b46e\",\n     \"applied\": true,\n     \"settings_hash\": \"tagged|3;101\",\n     \"assigned_date\": \"2023-09-08T11:33:03.338254138Z\",\n     \"applied_date\": \"2023-09-08T11:35:11.812291931Z\",\n     \"uninstall_protection\": \"ENABLED\"\n    },\n    \"device_control\": {\n     \"policy_type\": \"device-control\",\n     \"policy_id\": \"9ea8b40b8c3c496f967d224b1060a4fe\",\n     \"applied\": true,\n     \"assigned_date\": \"2023-08-16T15:09:41.437064664Z\",\n     \"applied_date\": \"2023-08-16T15:11:26.805479041Z\"\n    },\n    \"global_config\": {\n     \"policy_type\": \"globalconfig\",\n     \"policy_id\": \"c521cefe5cbc467bb4489ae16b416833\",\n     \"applied\": true,\n     \"settings_hash\": \"e5e396b9\",\n     \"assigned_date\": \"2023-09-08T11:34:51.78823724Z\",\n     \"applied_date\": \"2023-09-08T11:35:12.05880098Z\"\n    },\n    \"remote_response\": {\n     \"policy_type\": \"remote-response\",\n     \"policy_id\": \"7ab5a2ad02f74b47b1c4c6fa999a139d\",\n     \"applied\": true,\n     \"settings_hash\": \"17550b92\",\n     \"assigned_date\": \"2023-08-16T15:09:41.437095565Z\",\n     \"applied_date\": \"2023-08-16T15:11:27.062043482Z\"\n    },\n    \"firewall\": {\n     \"policy_type\": \"firewall\",\n     \"policy_id\": \"8b6c5b12b1ae454d8a79b1c1eccc2bd0\",\n     \"applied\": true,\n     \"assigned_date\": \"2023-08-16T15:09:41.437101243Z\",\n     \"applied_date\": \"2023-08-16T15:11:27.265080372Z\",\n     \"rule_set_id\": \"8b6c5b12b1ae454d8a79b1c1eccc2bd0\"\n    }\n   },\n   \"groups\": [],\n   \"group_hash\": \"e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855\",\n   \"product_type_desc\": \"Workstation\",\n   \"provision_status\": \"Provisioned\",\n   \"serial_number\": \"C02FF0H4MD6Q\",\n   \"status\": \"normal\",\n   \"system_manufacturer\": \"Apple Inc.\",\n   \"system_product_name\": \"MacBookPro16,1\",\n   \"tags\": [],\n   \"modified_timestamp\": \"2023-09-12T15:33:43Z\",\n   \"meta\": {\n    \"version\": \"2339\",\n    \"version_string\": \"5:31528795811\"\n   },\n   \"kernel_version\": \"22.6.0\",\n   \"chassis_type\": \"9\",\n   \"chassis_type_desc\": \"Laptop\"\n  }\n ],\n \"errors\": null\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-cs-region",
              "value": "us-2"
            },
            {
              "name": "x-cs-traceid",
              "value": "f248f4ee-79fd-4210-afe0-f71805124d64"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "6000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "5998"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 625,
      },
      {
        "_id": "aa33ceaf98a63b8bd52b3986a9ee06cb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://api.us-2.crowdstrike.com/discover/queries/applications/v1?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 5496,
            "text": "{\n \"meta\": {\n  \"query_time\": 0.012020624,\n  \"pagination\": {\n   \"offset\": 0,\n   \"limit\": 100,\n   \"total\": 100\n  },\n  \"powered_by\": \"discover-api\",\n  \"trace_id\": \"3d3fbef5-07b8-4a6d-8c8c-bfcf210a7dba\"\n },\n \"resources\": [\n  \"87428e31806e4c879014212b2579686f_fff76c020d6aae291fbbcf1a5ab6657b480274614509cbd37a333cfee260d1c7\",\n  \"87428e31806e4c879014212b2579686f_ffd69ee9f0716b539e36b134806bff91b811412322079d51625110f158cab64a\",\n  \"87428e31806e4c879014212b2579686f_ffd52196b701cef91598aa6f0ce1fc00c0fde1af2428c7d12b2b620fd87362ed\",\n  \"87428e31806e4c879014212b257[...]
